<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <script src="/javascripts/script.js"></script>
</head>
<body>
 <div id="main">
 <div id="header">
  <div class="nav">
    <a href="index.html">HOME</a>
    <a href="index.html">Rohan</a>
  </div>
  <div class="mainHead">
   <video src="/public/images/video.mp4" muted autoplay loop></video>
    <h1>Rohan</h1>
    <div class="mainheader">
      <h1>Pawar</h1>
      <p>The explorer Of Computer Science</p>
    </div>
  </div>
 </div>
 <div id="coder">
 <div class="code">
  <img src="/public/images/coder.png" alt="image is pending">

  <h1>Hello iam Developer here !</h1>

  <p>Currently Working on a website for optimistic desing And enhasing the skill of javascript and java😄💡</p>

 </div>
<div class="code2">
  <img src="/public/images/books_computer.png" alt="">
  <p>Enhacing the Skill and Finding something new because of some books and my intelligency</p>
</div>
 
</div>

<div id="skill">
  <div class="skilling1">
    <h1>This are all my skill currently working on it</h1>
    <img src="/public/images/androidStudio.png" alt="">
    <img src="/public/images/arc.jpeg" alt="">
    <img src="/public/images/firebase.jpg" alt="">
    <img src="/public/images/java.png" alt="">
    <img src="/public/images/javascript.png" alt="">
    <img src="/public/images/mongo.png" alt="">
    <img src="/public/images/node.png" alt="">
    
    <img src="/public/images/sql.png" alt="">
    <img src="/public/images/python.png" alt="">
    
  </div>
  <video src="/public/images/co.mp4" loop autoplay muted></video>
</div>

 </div>
  
</body>
</html>